*{
	font-family: "Helvetica"; 
}

body {
    background-color: white;
}


h1 {
    color: #333;
    text-align: center;
	
}

p {
        font-size: 20px;
}
	

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

a:link {
	text-decoration: none;
	
}
a:hover{
	background-color: #dfdfdf;
	color:#333;
}


