*{
	font-family: Helvetica;

}
body{
	margin: 0;
	padding: 0;
	width: 100%;
}

h1 { 
   
	font-weight:normal;
	font-size: 40px;
	color: #333;
	text-align: center;
	margin: 0;
	padding: 0;
}

h2 {
   
   font-weight: normal;
   font-size: 30px;
   color: #333;
   text-align: center;
   margin: 40px;
   padding: 0;
}

h3 {
   
   font-weight: normal;
   font-size: 15px;
   color: #333;
   text-align: center;
   margin: 5px 0;
   padding: 0;
   z-index: 1;
   position: relative;
}

p{
	
	font-size: 15px;
	margin-left:2%;
	margin-right: 40px;
	color: #333;
}

a:link{
	color: #444;
	text-decoration: none; 
}

a:hover{
	font-style: italic;
}

a:visited{
	color: #222;
}

#header{
	background: rgb(178,44,98);
	width: 100%; 
	height: 10%; 	
	position: fixed;
	z-index: 2;
	}
#logo a { 
	color: #ffeeff; 
	text-decoration: none; 
	float: left; 
	margin-left: 1%;
	font-size: 30px; 
	margin-top: 20px; 
	font-weight: bold;
}	
#nav { 
	width: 45%; 
	float: right; 
	margin-top: 20px; 
	margin-right: 20px;
}
#nav ul{
	list-style: none;
	display: inline;
	margin: 0 auto;
	list-style: none;	
}

#nav li{
	margin-top: 5px;	
	float: left;
	padding-left: 21px;
}

#nav li a { 
	color: #ffeeff; 
	font-size: 16px; 
	text-decoration: none;
	
}

#nav li a.active { 
	color: #ffeeff; 
	opacity:1;
	border-bottom: 2px; 

}
#nav li a:hover {  
	opacity:1; 
	}

.sitemap{

	height: 90%;
	width: 10%;
	z-index: 1;
	position: fixed;
	bottom:0px;
	float: left;
	background-repeat: no-repeat;
	background-color: rgb(178,44,98);
}

#sitemapNav ul{
	list-style: none;
	margin: 0 auto;
}

#sitemapNav li{
	margin-top: 10%;	
	padding-left: 0;
	
}

#sitemapNav li a, li b{
	text-decoration: none;
	color: #ffeeff;
	margin-left: -18%;
}

#sitemapNav li b{
	font-weight: normal;
	margin-left: -40%;
}

#sitemapNav span{
	display:none;
}
#startPagina{
	background-color: #ffeeff;
	color: #fff;
	height: 600px;
	z-index: -1;
	margin: 0;
	padding: 200px 0 260px 10%;
	background-position: center;
	background-repeat: no-repeat;


}
#deel2, #deel4{
	background-color: #ddccdd;
	color: #333;
	height: 100%;
	z-index:-1
	margin: 0 auto;
	overflow: hidden;
	padding: 10% 0 20% 0;
	padding-left: 14%;
	background-size: cover;
}

#deel3{
	background-color: #eeddee;
	color: #333;
	height: 100%;
	z-index:-1;
	margin: 0 auto;
	overflow: hidden;
	padding: 10% 0 20% 0;
	padding-left: 14%;
	background-size: cover;
}

#footer{
	background-color: #ffeeff;
	height: 3em;
	margin: 0;
	padding: ;
	overflow: hidden;
	text-align: center;
}
